/* image-magnify.css */

/* Styles for the small image container */
.small-image-container {
  position: relative;
}

/* Style for the magnifier (large image) */
.large-image {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 2;
}

/* Show the magnifier when hovering over the small image */
.small-image-container:hover .large-image {
  display: block;
}

/* Style the large image within the magnifier */
.large-image img {
  width: 100%;
  height: auto;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

